@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Animated Checkbutton START 
   Keyframe Animations declared in tailwind config 
*/
.toggleButton {
  transform-style: preserve-3d;
  transition: transform 0.14s ease;
  @apply cursor-pointer origin-center flex items-center;
}
.toggleButton:active {
  transform: rotateX(30deg);
}
.toggleButton input {
  @apply hidden;
}
.toggleButton input + div {
  border: 3px solid rgba(0, 0, 0, 0.2);
  width: 44px;
  height: 44px;
  @apply relative rounded-full;
}
.toggleButton input + div svg {
  fill: none;
  stroke-width: 3.6;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 44px;
  height: 44px;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  stroke-dashoffset: 124.6;
  stroke-dasharray: 0 162.6 133 29.6;
  transition: all 0.4s ease 0s;
  @apply block absolute z-10;
}
.toggleButton input + div:before,
.toggleButton input + div:after {
  content: "";
  width: 3px;
  height: 16px;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  @apply absolute bg-black left-2/4 top-2/4;
}
.toggleButton input + div:before {
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  animation: bounceInBefore 0.3s linear forwards 0.3s;
  @apply opacity-0;
}
.toggleButton input + div:after {
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  animation: bounceInAfter 0.3s linear forwards 0.3s;
  @apply opacity-0;
}
.toggleButton input:checked + div svg {
  stroke-dashoffset: 162.6;
  stroke-dasharray: 0 162.6 28 134.6;
  transition: all 0.4s ease 0.2s;
}
.toggleButton input:checked + div:before {
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  animation: bounceInBeforeRev 0.3s linear forwards 0s;
  @apply opacity-0;
}
.toggleButton input:checked + div:after {
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  animation: bounceInAfterRev 0.3s linear forwards 0s;
  @apply opacity-0;
}
/* Animated Checkbutton END */

.disabled {
  filter: contrast(0.2);
  @apply pointer-events-none;
}

.styled-brewing-icon {
  width: 50%;
  padding: 7px 4px 0px 4px;
  /* border: 2px transparent solid; */
  /* border-radius: 8px; */
  cursor: pointer;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 2.75rem;
}
.styled-brewing-icon-active {
  @apply opacity-100;
}
.styled-brewing-icon.aero {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 110" enable-background="new 0 0 64 110" xml:space="preserve"><path d="M58.314,98.974h-4.15c-0.659-0.341-1.446-0.812-1.811-1.277c0.002-0.069,0.003-0.141,0.003-0.213  c0-0.822-0.119-1.489-0.941-1.489h-3.989V39.289c0,0-3.082-1.438-16.231-1.438c-0.285,0-0.558,0.029-0.819,0.084  c-11.259,0.151-13.986,1.423-13.986,1.423v56.637h-4.046c-0.822,0-0.873,0.667-0.873,1.489c-0.052,0.499-0.84,1.059-1.606,1.49  H5.719C5.322,98.974,5,99.295,5,99.692c0,0.396,0.322,0.719,0.719,0.719h52.596c0.397,0,0.719-0.322,0.719-0.719  C59.033,99.295,58.711,98.974,58.314,98.974z"/><path d="M30.649,37.01c0.261-0.055,0.534-0.083,0.819-0.083c7.86,0,12.122,0.514,14.279,0.927V10.937v-0.513  c0,0-4.841-2.157-13.566-2.26c-8.725-0.103-13.759,2.26-13.759,2.26V37.96C20.312,37.582,23.987,37.1,30.649,37.01z"/><path d="M32.017,5.76c10.859,0,19.801,1.317,20.978,3.01c0.087-0.125,0.132-0.251,0.132-0.38c0-1.872-9.451-3.39-21.11-3.39  s-21.11,1.518-21.11,3.39c0,0.128,0.046,0.255,0.133,0.38C12.215,7.077,21.158,5.76,32.017,5.76z"/><g><path d="M32.017,6.185c-11.659,0-21.11,1.518-21.11,3.39c0,0.972,2.547,1.848,6.626,2.466v-1.61V9.908l0.473-0.222   c0.052-0.024,1.303-0.606,3.607-1.185c2.101-0.528,5.533-1.156,9.949-1.156c0.186,0,0.375,0.001,0.562,0.003   C36.707,7.402,40.22,8.026,42.36,8.54c2.347,0.563,3.602,1.116,3.654,1.14l0.487,0.217v0.533v0.514v1.097   c4.079-0.618,6.625-1.494,6.625-2.466C53.127,7.702,43.676,6.185,32.017,6.185z"/></g><g><path d="M13.783,101.302c0,2.043-0.399,3.698,1.644,3.698h33.18c2.043,0,1.644-1.655,1.644-3.698H13.783z"/></g><path d="M576.168,529.658h-29.455c-4.679-2.414-10.266-5.759-12.857-9.064c0.016-0.493,0.022-0.996,0.022-1.509  c0-5.839-0.845-10.572-6.684-10.572h-28.313V106.034c0,0-21.873-10.207-115.201-10.207c-2.025,0-3.963,0.203-5.814,0.592  c-79.916,1.076-99.268,10.102-99.268,10.102v401.992h-28.715c-5.839,0-6.197,4.733-6.197,10.572  c-0.369,3.545-5.961,7.515-11.398,10.573h-29.433c-2.819,0-5.104,2.285-5.104,5.104c0,2.819,2.285,5.104,5.104,5.104h373.313  c2.818,0,5.104-2.284,5.104-5.104C581.271,531.943,578.986,529.658,576.168,529.658z"/><path d="M710.229,158.879c77.074,0,140.547,9.346,148.894,21.365c0.616-0.886,0.941-1.787,0.941-2.699  c0-13.287-67.084-24.061-149.835-24.061c-82.752,0-149.836,10.773-149.836,24.061c0,0.912,0.324,1.813,0.941,2.699  C569.681,168.225,633.152,158.879,710.229,158.879z"/><g><path d="M710.229,161.893c-82.752,0-149.836,10.772-149.836,24.061c0,6.897,18.076,13.115,47.029,17.503v-11.429v-3.706   l3.354-1.575c0.37-0.173,9.254-4.303,25.607-8.409c14.913-3.744,39.268-8.208,70.611-8.207c1.32,0,2.661,0.008,3.986,0.023   c32.533,0.384,57.47,4.81,72.661,8.454c16.661,3.999,25.563,7.926,25.935,8.092l3.459,1.541v3.787v3.646v7.783   c28.953-4.388,47.028-10.605,47.028-17.503C860.063,172.665,792.979,161.893,710.229,161.893z"/></g><g><path d="M260.091,546.187c0,14.497-2.831,26.25,11.667,26.25h235.506c14.498,0,11.667-11.753,11.667-26.25H260.091z"/></g><path d="M807.565,486.674h0.12V195.625v-3.646c0,0-34.361-15.312-96.291-16.041c-61.93-0.729-97.656,16.041-97.656,16.041v295.449  h0.086c-0.091,2.205-0.086,4.564-0.086,7.02c0,12.15-0.15,22,12,22h169.947c12.15,0,12-9.85,12-22  C807.686,491.711,807.692,489.092,807.565,486.674z"/><path d="M809.008,566.67l-9.71-39.878c0,0,0.492-2.842-5.849-3.189c-4.453-0.245-42.521-0.146-64.816-0.064  c-0.256-0.06-0.521-0.091-0.793-0.091h-47.128c-0.188,0-0.371,0.021-0.554,0.049c-21.747-0.063-48.496-0.097-52.184,0.106  c-6.342,0.348-5.85,3.189-5.85,3.189l-9.709,39.878c0,0-3.472,6.443,6.363,6.443c5.07,0,36.391,0,65.533,0  c27.359,0,52.799,0,52.799,0c29.141,0,60.463,0,65.533,0C812.48,573.113,809.008,566.67,809.008,566.67z"/></svg>');
}
.styled-brewing-icon.v60 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 87 110" enable-background="new 0 0 87 110" xml:space="preserve"><path d="M26.412,71.495c0.067,0.008,6.761,0.715,14.759,0.715c8.143,0,16.123-0.628,16.203-0.634  c0.358-0.028,0.626-0.343,0.597-0.701c-0.028-0.358-0.343-0.626-0.701-0.598c-0.079,0.007-8.011,0.63-16.1,0.63  c-7.925,0-14.554-0.699-14.621-0.707c-0.358-0.039-0.679,0.221-0.717,0.578S26.054,71.457,26.412,71.495z"/><path d="M59.507,79.683c-0.08,0.008-8.063,0.81-18.336,0.81c-8.55,0-16.983-0.919-17.067-0.928c-0.359-0.04-0.68,0.219-0.719,0.576  c-0.04,0.358,0.218,0.68,0.576,0.72c0.085,0.009,8.586,0.935,17.21,0.935c10.339,0,18.388-0.809,18.468-0.816  c0.358-0.036,0.619-0.356,0.583-0.715C60.185,79.906,59.865,79.646,59.507,79.683z"/><path d="M80.357,76.275c-1.383-5.3-4.053-9.057-7.936-11.167c-2.685-1.46-5.523-1.889-7.928-1.889c-1.759,0-3.488,0.331-4.584,0.567  c-0.235-0.525-0.831-1.435-1.001-1.919c-0.05-0.142-0.117-0.573-0.127-0.618c0.015-0.419,0.196-1.755,0.486-2.726  c0.269-0.898,0.164-1.735-0.297-2.356c-0.256-0.345-0.86-0.926-2.029-0.929h-0.08c-0.435,0-0.945,0.012-1.514,0.032  c-0.057,0.506-0.11,1.01-0.137,1.519c-3.153,0.121-8.17,0.491-13.129,0.581c-0.738,0.014-1.476,0.019-2.206,0.019  c-4.712,0-9.068-0.259-11.001-0.525c-0.511-0.07-0.977-0.119-1.405-0.15c-0.003-0.043-0.006-0.087-0.006-0.132  c0-0.463,0.007-0.925,0.029-1.385c-0.374-0.025-0.728-0.039-1.062-0.039c-4.012,0-4.941,1.999-5.687,3.605  c-0.052,0.112-0.105,0.226-0.16,0.34c-0.168,0.355-0.682,1.435-0.073,2.398c0.345,0.547,0.94,0.858,1.634,0.858  c0.669,0,1.415-0.311,1.893-0.552h0.011c0.321,0,0.518,0.054,0.604,0.092c0.001,0.021,0.002,0.051,0,0.09  c-0.039,0.779-0.271,1.46-0.69,2.023c-0.145,0.159-0.282,0.324-0.409,0.492c-0.013,0.017-0.026,0.033-0.039,0.051  c-0.841,1.138-1.285,2.479-1.285,3.88c0,0.638,0.092,1.265,0.275,1.87c-0.062,0.189-0.171,0.442-0.366,0.754  c-1.72,1.419-2.701,3.47-2.701,5.666c0,0.896,0.163,1.769,0.484,2.601c-0.058,0.319-0.243,0.863-0.803,1.62  c-0.064,0.088-0.127,0.179-0.186,0.271c-1.605,1.551-2.521,3.682-2.521,5.881c0,1.105,0.221,2.175,0.657,3.187  c-0.038,0.212-0.131,0.511-0.34,0.896c-1.12,0.968-1.99,2.189-2.526,3.549c-0.156,0.395-0.283,0.802-0.38,1.212  c-0.099,0.417-0.167,0.839-0.205,1.252c-0.038,0.423-0.045,0.848-0.023,1.265c0.082,1.555,1.117,2.846,3.074,3.839  c1.479,0.751,3.494,1.353,6.16,1.842c4.524,0.83,10.724,1.286,18.427,1.355c0.479,0.005,0.962,0.007,1.438,0.007  c7.044,0,13.441-0.485,18.013-1.366c2.594-0.501,4.65-1.133,6.11-1.879c1.954-1,2.985-2.278,3.066-3.798  c0.016-0.309,0.012-0.62-0.007-0.937c0.021-0.093,0.033-0.186,0.024-0.278c-0.037-0.412-0.106-0.835-0.205-1.252  c-0.002-0.009-0.005-0.018-0.007-0.027c2.834-0.984,6.671-2.913,9.103-6.561C81.172,85.836,81.698,81.417,80.357,76.275z   M65.459,86.908c-0.107,0.011-10.84,1.046-24.196,1.046c-13.577,0-22.365-0.826-23.309-0.919c0.01-0.998,0.248-1.99,0.698-2.881  c0.463-0.917,1.195-1.538,1.791-2.347c0.361-0.489,0.655-1.039,0.841-1.62c0.081-0.252,0.184-0.551,0.199-0.816  c0.025-0.429-0.22-0.828-0.327-1.232c-0.122-0.459-0.178-0.938-0.178-1.412c0-1.113,0.331-2.214,0.945-3.142  c0.597-0.9,1.556-1.524,1.956-2.555c0.331-0.85-0.109-1.72-0.109-2.594c0-1.112,0.37-2.14,0.996-2.979  c0.003-0.005,0.006-0.008,0.008-0.012c0.116-0.153,0.239-0.3,0.371-0.44c0.401-0.519,0.974-1.47,1.047-2.938  c0.079-1.593-1.383-1.798-2.143-1.798c-0.265,0-0.444,0.024-0.444,0.024s-0.919,0.527-1.459,0.527c-0.366,0-0.557-0.241-0.17-1.054  c0.793-1.665,1.192-3.068,4.456-3.068c0.312,0,0.652,0.014,1.019,0.041l0.23,1.151c0,0,0.044,0.757,1.964,1.057  c2.268,0.355,8.317,0.686,11.048,0.789c0.047,0.022,0.093,0.035,0.138,0.035c0.117,0,0.303-0.004,0.544-0.011  c0.241,0.007,0.426,0.011,0.544,0.011c0.044,0,0.09-0.013,0.137-0.035c2.731-0.104,8.78-0.434,11.049-0.789  c1.919-0.3,1.963-1.057,1.963-1.057l0.215-1.076c0.6-0.022,1.132-0.036,1.58-0.036c0.025,0,0.05,0,0.074,0  c1.016,0.004,1.027,0.734,0.856,1.305c-0.339,1.135-0.551,2.707-0.551,3.217c0,0.589,1.023,2.678,1.337,3.208  c0,0,0.883,2.4,0.885,2.4c0.158,0.482,0.245,0.995,0.245,1.528c0,0.716-0.386,1.453-0.27,2.152c0.21,1.274,1.328,1.863,2.017,2.845  c0.674,0.96,1.044,2.119,1.044,3.293c0,1.041-0.621,2.092-0.424,3.113c0.258,1.346,1.176,2.12,1.986,3.13  c0.879,1.095,1.416,2.455,1.459,3.936C65.5,86.905,65.479,86.906,65.459,86.908z M76.121,87.603  c-1.904,2.866-5.043,4.448-7.401,5.281c-0.032-0.007-0.158,0.052-0.33,0.15c-0.45-0.664-0.988-1.271-1.602-1.802  c-0.209-0.386-0.302-0.685-0.34-0.896c0.437-1.012,0.657-2.082,0.657-3.188c0-1.924-0.701-3.796-1.953-5.273  c-0.19-0.229-0.392-0.448-0.608-0.656c-0.059-0.093-0.121-0.183-0.186-0.271c-0.561-0.757-0.746-1.301-0.803-1.62  c0.321-0.831,0.484-1.705,0.484-2.601c0-2.196-0.98-4.247-2.701-5.666c-0.194-0.312-0.304-0.564-0.366-0.754  c0.183-0.605,0.275-1.232,0.275-1.87c0-0.207-0.01-0.412-0.029-0.617c0.003,0,0.005,0.002,0.007,0.004  c-0.012-0.04-0.046-0.18-0.108-0.6c-0.181-0.345,0.058-0.493,0.204-0.498c0.847-0.149,1.946-0.284,3.177-0.284  c1.962,0,4.257,0.34,6.385,1.498c3.069,1.667,5.208,4.746,6.356,9.149C78.336,81.295,77.96,84.833,76.121,87.603z"/><path d="M61.225,67.823C61.234,67.852,61.233,67.832,61.225,67.823L61.225,67.823z"/><path d="M25.412,38c2.979,5.919,5.393,10.677,5.393,10.677s0.453,1.812-1.511,2.114c-1.963,0.302-10.27,1.208-11.327,1.661  c-1.057,0.453-1.963,1.661-0.302,2.568c0.495,0.27,2.79,0.478,5.801,0.631c0.743-0.321,1.701-0.52,2.965-0.52  c0.773,0,1.641,0.067,2.654,0.207c1.841,0.254,6.139,0.511,10.792,0.511c0.736,0,1.469-0.007,2.178-0.02  c3.209-0.057,6.389-0.231,9.194-0.384c2.306-0.125,4.296-0.234,5.614-0.234h0.08c0.68,0.002,1.167,0.199,1.507,0.432  c2.731-0.148,4.83-0.353,5.328-0.624c1.661-0.907,0.755-2.115-0.302-2.568C62.417,52,54.11,51.093,52.146,50.792  c-1.963-0.302-1.51-2.114-1.51-2.114S66.495,17.413,67.099,15.45c0.604-1.964-0.755-2.115-0.755-2.115h-0.119  c1.343-2.763,2.376-4.904,2.53-5.262c0.312-0.727,0.2-1.273,0.051-1.604c-0.296-0.66-0.906-0.892-1.026-0.932l-0.127-0.042h-0.134  H43.404h-5.503H13.787h-0.135l-0.127,0.042c-0.12,0.04-0.729,0.272-1.026,0.932c-0.148,0.33-0.259,0.876,0.052,1.604  c0.154,0.358,1.188,2.5,2.531,5.264c-0.149,0.024-1.306,0.272-0.74,2.113c0.084,0.271,0.458,1.1,1.04,2.327  c-0.588,0.015-1.222,0.052-1.875,0.123c-3.953,0.435-6.722,1.944-8.008,4.366c-0.57,1.074-0.937,2.864,0.553,5.3  c1.542,2.521,4.729,5.15,8.746,7.214C18.392,36.629,22.097,37.747,25.412,38z M13.312,7.747c-0.473-1.106,0.475-1.421,0.475-1.421  h24.114h5.503h24.114c0,0,0.947,0.315,0.474,1.421c-0.156,0.363-1.267,2.664-2.689,5.588H42.584h-1.312h-1.104h-1.312H16.002  C14.58,10.411,13.469,8.11,13.312,7.747z M8.542,26.042c-0.426-0.696-0.852-1.678-0.466-2.407c1.392-2.621,5.863-3.041,8.713-2.941  c1.705,3.493,4.074,8.245,6.379,12.842c-0.284,0.534-0.851,0.966-1.979,0.688c-0.156-0.046-0.312-0.094-0.468-0.144  c-0.046-0.018-0.092-0.035-0.14-0.054c-0.349-0.14-0.638-0.233-0.877-0.292C14.806,31.968,10.242,28.822,8.542,26.042z"/><circle cx="40.514" cy="64.279" r="0.942"/><circle cx="41.931" cy="67.104" r="0.732"/><circle cx="42.689" cy="62.342" r="0.471"/></svg>');
}

.styled-save-btn {
  transform: translateY(-200%);
  transition: transform 0.3s ease-out;
  @apply absolute bg-blue-700 text-white uppercase w-auto p-3 align-middle z-40 top-0 rounded-full mt-4 shadow-lg border-transparent border-2 hover:border-white;
}

.styled-save-btn-visible {
  transform: translateY(0);
  transition: transform 0.5 ease-out;
}

.styled-submit-btn,
.styled-remove-btn,
.styled-cancel-btn {
  @apply text-white w-1/3 uppercase mx-auto p-3 align-middle rounded-full mt-4 shadow-lg border-transparent border-2 hover:border-white;
}

.styled-remove-btn {
  @apply bg-red-700;
}

.styled-submit-btn {
  @apply bg-blue-700 w-1/2;
}

.styled-cancel-btn {
  @apply border-white;
}

.styled-table {
  @apply absolute z-50 h-screen w-screen px-4 text-gray-900;
}

.styled-tasting-notes {
  @apply absolute z-50 h-screen w-screen px-4 text-gray-900;
}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
